@{
    ViewBag.Title = "提交报名表";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<p>提交报名表？</p>
@using (Html.BeginForm())
{
    <button type="submit" class="btn btn-primary">提交</button>
    @Html.ActionLink("返回", "Detail", new { id = this.ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-default" })
}