body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
	max-width: 400px;
}*/

.btn {
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.ArticleContent p {
	text-indent: 2em;
}

/*Hide link url when print pages*/
@media print {
    a[href]:after {
        content: none;
    }
}

.table tbody > tr > td.vert-aligned {
    vertical-align: middle;
}

textarea.multi-line {
    min-height: 10em;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

div.article p {
    text-indent: 2em;
}