@model JobEditViewModel
@{
    ViewBag.Title = "创建职位/类别";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
@using (Html.BeginForm())
{
    @Html.Partial("JobEditor")
    <button type="submit" class="btn btn-primary">增加</button>
    @Html.ActionLink("取消", "Detail", new { id = Html.ViewContext.RouteData.Values["planid"] }, new { @class = "btn btn-default" })
}