
@{
    ViewBag.Title = "常见问题解答";
}

<div class="page-header">
	<h2>常见问题解答</h2>
</div>
<div class="ArticleContent">
	<ul>
		<li><a href="#CannotReceiveValidationCode">手机无法收到验证码？</a></li>
		<li><a href="#CannotReceiveEmail">无法收取邮件？</a></li>
		<li><a href="#CanNotUploadArchives">无法上传报名资料？</a></li>
		<li><a href="#JavascriptDisabled">网站点击没有反应？</a></li>
		<li><a href="#LoginLockOut">登陆时提示锁定？</a></li>
	</ul>

	<h3 id="CannotReceiveValidationCode">手机无法收到验证码？</h3>
	<p>有诸多原因可能无法收到验证码，我们建议您按下列步骤尝试：</p>
	<ol>
		<li>请检查您的手机上是否安装了拦截类软件，可能会误将验证码短信作为垃圾短信拦截或拒收，请检查短信拦截列表或调整手机设置。</li>
		<li>若您的运营商提供有拦截骚扰服务，也可能被这些服务拦截从而导致收不到验证码，可向您的运营商咨询。</li>
	</ol>
	<hr />


	<h3 id="CannotReceiveEmail">无法收取邮件？</h3>
	<p>由于互联网垃圾邮件泛滥，如今大多数邮件服务商均设置了严格的反垃圾邮件策略，部分邮件服务商甚至对发信频率也进行了苛刻限制。</p>
	<p>这些反垃圾邮件措施有可能意外地将本网站发出的邮件识别为垃圾邮件而发生拒收、退信故障。</p>
	<p>如果您无法在您的邮件收件箱里找到邮件，可以尝试看看垃圾邮件箱。若都没有，那么很可能邮件在发往您的邮件提供商时被拒收。</p>
	<p>对于这种情况，我们感到很遗憾。我们已就此情况积极与各邮件服务商进行沟通和协助处理。为了确保您能够收到我们发出的邮件信息，建议您换一个其他邮箱试试。</p>
	<p class="well">此外，对于请求发送重置密码等涉及账户安全的操作，为了防止账户数据泄露以及自动程序行为，无论您提交的邮件地址是否是已通过验证的预留地址，我们均不会提供发送错误或找不到对应账户的错误。这个策略对于通过手机短信找回密码同样有效。若您在这些操作中无法收取邮件（或短信），很可能是您输错了邮件地址或手机号码，抑或邮件地址或手机号码没有通过注册时验证。请检查您输入是否正确。</p>
	<hr />


	<h3 id="CanNotUploadArchives">无法上传报名资料？</h3>
	<p>无法上传报名资料，通常可能是因为您的资料不符合要求。请确认您准备的报名资料符合要求：</p>
	<ol>
		<li>只能上传jpg和png格式图片，请使用彩色图片，要求画面字迹清晰可辨；</li>
		<li>请按每种资料给出的要求提示以及示例（如果有）来准备您的资料；请根据需要自行使用图片编辑软件旋转裁剪以符合阅读要求。</li>
		<li>推荐通过扫描方式获得，条件不具备时，也可使用拍照方式获得；</li>
	</ol>
	<p>您所上传的资料将作为工作人员审核的重要依据，请认真准备这些资料，并合理使用软件工具对资料进行裁剪、旋转、缩放，请确保资料文字方向朝上，不要横置、倒置，符合阅读要求。</p>
	<p>我们恕不提供软件工具、操作教程教程以及任何图片处理服务。</p>
	<p>上传资料的时间会因为网络带宽的因素可能比较缓慢，若您的资料比较大，上传过程请耐心等待，不要关闭页面。</p>
	<hr />

	<h3 id="JavascriptDisabled">网站点击没有反应？</h3>
	<p>如果点击网站没有反应，或者发生故障和错误，通常可能是以下原因造成：</p>
	<ul>
		<li>浏览器不兼容。我们针对Internet Explorer, Chrome和FireFox进行了优化和测试。如果您使用的是其他第三方浏览器，请换一个，或使用Windows自带的Internet Explorer再试试。</li>
		<li>浏览器太旧。如果是Internet Explorer，我们兼容的最低浏览器版本为IE9，推荐使用IE11。</li>
		<li>Javascript或Cookie被禁用，少数情况下，您可能禁用了Javascript或Cookie，禁用这些功能均会导致网站访问不正常，请调整浏览器设置。</li>
	</ul>
	<hr />
	<h3 id="LoginLockOut">登陆时提示锁定？</h3>
	<p>当您尝试登陆时，提示账户已锁定，请稍后再试。</p>
	<p>这是一项安全措施，若您登陆时发生登录名或密码错误，在超过一定次数后，网站将拒绝您的登陆请求几分钟时间。</p>
	<p>如果遇到这种情况，请稍等几分钟后，再次尝试登陆即可。</p>
</div>
