
@{
    ViewBag.Title = "支持";
}

<div class="page-header">
	<h2>支持</h2>
</div>

<div class="ArticleContent">
	<h3>支持</h3>
	<p>访问该网站中遇到问题？我们提供了一些渠道和方式帮助您解决问题。</p>
	<p>为了帮助您快速识别和解决问题，我们提供了<a href="@Url.Action("FAQ")">常见问题解答（FAQ）</a>。常见问题解答会根据运行中我们收集到的反馈进行持续更新和完善。</p>
	<p>如果您对招聘有关事项和信息有疑问，请按照发布的招聘公告中指示的联系方式与主管部门取得联系。</p>
	<p>如果您遇到了访问网站的技术故障，可通过邮件与技术支持取得联系，请在邮件中详细描述您遇到的故障现象。邮件地址是：job@@qjyc.cn</p>
</div>
