@model EnrollmentData

@*显示报名有关的资料清单*@

<h3>报名资料</h3>

<div class="row">
	@foreach (EnrollmentArchives arch in Model.EnrollmentArchives)
	{
		<div class="col-md-3">
			<div class="thumbnail">
				<a href="@Url.Action("GetEnrollmentArchiveData", "ArchiveData", new { eaid = arch.id, area = "" })" data-toggle="modal" data-target="#enrollmentArchiveBigView" data-remote="false">
					<img src="@Url.Action("GetEnrollmentArchiveData", "ArchiveData", new { eaid = arch.id, area = "" })" class="img-responsive" style="max-height: 180px;" />
				</a>
				<div class="caption">
					<h4>@arch.ArchiveCategory.Name</h4>
				</div>
			</div>
		</div>
	}
</div>

<!-- Modal -->
<div class="modal fade" id="enrollmentArchiveBigView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">预览资料</h4>
			</div>
			<div class="modal-body">
				<img id="archImg" class="img-responsive center-block" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>

@using (Html.BeginScriptContext())
{
	Html.AddScriptBlock(
		@<script>
			$("#enrollmentArchiveBigView").on("show.bs.modal", function (event) {
				var ALink = $(event.relatedTarget);
				var link = ALink.attr("href");

				$("#archImg").prop("src", link);
			});
		</script>
		);
}
