@model EnrollmentData

@*显示报名资料相关属性*@

<div class="panel panel-default">
	<div class="panel-body">
		@Html.Partial("EnrollmentStatePartial", Model)
		<ul class="list-unstyled">
			<li>创建时间：@Model.WhenCreated</li>
			@if (Model.WhenChanged.HasValue)
			{
				<li>最后修改时间：@Model.WhenChanged.Value</li>}
			@if (Model.WhenCommited.HasValue)
			{
				<li>提交时间：@Model.WhenCommited.Value</li>}
			else
			{
				<li>尚未提交。请及时填写并务必在报名截止日期之前提交。</li>
			}
			@if (Model.WhenAudit.HasValue)
			{
				<li>
					审核@(Model.Approved.Value ? "通过" : "未通过")！
					@if (!string.IsNullOrEmpty(Model.AuditMessage))
					{
						@:附加说明： @Model.AuditMessage
			         }
				</li>
				if (Model.IsTakeExam.HasValue)
				{
					if (Model.IsTakeExam.Value == true)
					{
						<li>已于 @Model.WhenAnnounced.Value 声明参加考试。</li>
					}
					else {
						<li>已于 @Model.WhenAnnounced.Value 声明放弃参加考试。</li>
					}
				}
				
			}
			else
			{
				<li>报名已提交，正在审核中。</li>
			}

		</ul>

	</div>
</div>
