
<h2>您好，@Html.CurrentUser().DisplayName</h2>

<p>@Html.ActionLink("进入报名", "Index", "Recruitment", null, new { @class = "btn btn-default" })</p>
<a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default">注销</a>