
@{
    ViewBag.Title = "考试中心";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<h2>考试计划</h2>
<p>
    @Html.ActionLink("创建考试计划", "Create", null, new { @class = "btn btn-default" })
</p>
@Html.Action("ExaminationPlans")
<div class="article">
    <h2>帮助说明</h2>
    <p>考试计划是开展考试的基本单元，它很灵活，可用来组织笔试、面试或其他类型的考试。此外，要实现准考证的管理和自助打印，系统需要完整的逻辑收集和处理这些信息。</p>
    <p>编制计划时，您需要确定考试地点，考试科目及对应考试时间，然后添加或导入需要参加这次考试的用户，成为考试候选人。</p>
    <p>候选人在声明截止时间之前确认是否参加考试。候选人确定参加考试的，即成为考生。</p>
    <p>声明截止日期之后，就可以为考生编制准考证号、考场号和座位号，然后发放准考证。</p>
    <p>发放准考证后，考生可以在考试开始前任意时间打印准考证，携带入场参加考试。</p>
    <p>要明确招聘报名和考试两者并没有隶属关系，这是考试计划之所以灵活的要点。正因为它太过于灵活，如果您不了解系统逻辑时，很可能难以操作。为此我们提供了一些案例及最佳做法供您参考如下：</p>
    <h3>案例1：所有人都参加相同科目的考试</h3>
    <p>假设报名资格审核通过的人员，全部都参加综合能力测试和论文两个科目考试。则只需创建一个考试计划，对应设置好科目，然后从招聘计划导入所有资格审核已通过的人员。</p>
    <h3>案例2：不同职位/类别的求职者参加不同的科目的考试</h3>
    <p>如申请综合类职位的求职者需考综合能力测试，农学类的考农业专业技术，那么应该创建两个考试计划，分别设置科目，然后按职位/类别作为过滤条件，从招聘计划导入相应的人员。</p>
    <h3>案例3：从上一次考试导入</h3>
    <p>例如，之前已组织了笔试，这一次计划组织面试，计划从之前的笔试中挑选符合条件的人员参与面试，那么可以同上创建一个考试计划，然后选择从之前的考试计划导入人员即可。</p>
</div>