@model bool
@{
    ViewBag.Title = "提交实名认证";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
@if (Model)
{
    <p>认证成功！</p>
    <p>@Html.ActionLink("浏览招聘职位/类别", "Index", "Recruitment")</p>
}
else
{
    <p>您的实名身份信息已经提交，请等待认证。现在您可以继续下一步操作。</p>
    <p>@Html.ActionLink("浏览招聘职位/类别", "Index", "Recruitment")</p>
}
