@{
    ViewBag.Title = "忘记了密码？";
}

<div class="page-header">
	<h2>@ViewBag.Title</h2>
</div>

<div>
	<p>如果您忘记了密码，我们提供两种常规方式来帮助您找回密码。</p>
	<p>如果您是通过手机接收验证码完成注册的，可以使用手机接收验证码来重置密码。</p>
	<p>@Html.ActionLink("通过手机验证码重置密码", "FindPasswordViaMobile", "Account", null, new { @class = "btn btn-default" })</p>
	<p>如果您注册时手机收不到验证码，改为采用电子邮件接收验证码而完成注册的，可以使用您注册时采用的电子邮件地址来重置密码。</p>
	<p>@Html.ActionLink("通过电子邮件重置密码", "FindPasswordViaEmail", "Account", null, new { @class = "btn btn-default" })</p>
</div>
