
@{
    ViewBag.Title = "注册协议";
}

<div class="page-header">
    <h1>用户注册协议</h1>
</div>
<p>欢迎来到@(TalentGoWebApp.Properties.Settings.Default.SystemTitle)网站。要继续办理招聘报名业务，我们需要收集一些个人信息，并且为您注册一个账户，以便后续有针对性的为您提供服务。</p>
<ol>
    <li>本网站实施实名制规则，注册账户时，您必须填写证件信息、姓名等真实的个人资料。并且承诺对您所提供信息的真实性负责。</li>
    <li>经过实名制审查后，您的证件信息将无法更改，请勿以非本人证件注册。</li>
    <li>您提供的信息将仅用于招聘报名业务，并且会作为招聘工作的档案资料受到安全妥善存档。</li>
    <li>我们充分保障您的个人信息安全和个人隐私，您的信息不会用于其他业务。</li>
</ol>
<p>请悉知上述协议，继续注册意味着您同意上述协议内容。</p>

<p>@Html.ActionLink("同意并继续注册", "Register", "Account", null, new { @class = "btn btn-primary" }) @Html.ActionLink("取消", "Index", "Home", null, new { @class = "btn btn-danger" })</p>