@{
    ViewBag.Title = "发布";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
@using (Html.BeginForm())
{
    <p>公告被发布后，就可以被浏览网站的人员看到。</p>
    <button type="submit" class="btn btn-primary">发布</button>
    @Html.ActionLink("取消", "Index", null, new { @class = "btn btn-default" })
}