@model RecruitmentPlan
@{
	ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<p>发布日期：@Model.WhenPublished.Value.ToShortDateString() </p>
<p>报名截止日期：@Model.EnrollExpirationDate.Value.ToShortDateString()</p>
@if (Model.AnnounceExpirationDate.HasValue)
{
	<p>确认参加考试截止日期：@Model.AnnounceExpirationDate.Value.ToShortDateString()</p>
	<p>考试时间：@Model.ExamStartTime.Value.ToString("yyyy-MM-dd HH:mm") -- @Model.ExamEndTime.Value.ToString("HH:mm")</p>
	<p>考试地点：@Model.ExamLocation</p>
}

@Html.Raw(Model.Recruitment)

@Html.Action("RecruitmentPanel", new { plan = Model })