@model TargetUser
@{
	ViewBag.Title = "用户";
}

<h2>@ViewBag.Title。</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
	@*<h4>用户信息</h4>
	<table>
		<tr>
			<td>身份证号码：</td>
			<td></td>
		</tr>
	</table>
	<hr />*@
	<h4>设置您的账户</h4>
	<p>@Html.ActionLink("更改密码", "ChangePassword")</p>
</div>

@helper IDCardNumberMasker(string IDCardNumber)
{

}