
@{
    ViewBag.Title = "隐私策略";
}

<div class="page-header">
	<h2>隐私策略</h2>
</div>
<div class="ArticleContent">
	<p>为了方便您直观了解我们的隐私策略，我们将隐私策略内容进行了大幅简化，用尽可能直白且精确的语言向您表述。</p>
	<h3>概述</h3>
	<p>该隐私策略只适用于本网站内，不包括以本网站为数据源的其他衍生应用，也不包括本网站中以其他来源为内容的页面（例如通知公告的标题及内容）。</p>
	<p>本网站的隐私策略可以概括如下：</p>
	<ol>
		<li>本网站所收集的隐私数据只应用于本网站系统设计的功能，不会用于超出本网站之外的其他任何用途。</li>
		<li>我们力图尽最大可能保护用户隐私数据，特别是敏感数据。并且承诺不会将这些数据公之于众。</li>
		<li>如果因法律因素，我们遵照法律框架下依法最小化披露网站所收集的数据。</li>
	</ol>
	<h3>数据取得和应用</h3>
	<p>为了实现本网站所承担的功能，我们需要向您收集数据，其中有可能涉及隐私的数据包括但不限于：</p>
	<ul>
		<li>您的身份证号码、手机号码、电子邮件地址、姓名、性别、出生日期等能够直接明确识别的信息</li>
		<li>您的简历、履历、个人爱好、婚姻、健康、政治面貌等与您高度相关的隐私信息</li>
		<li>您就读的学校、专业，参加工作的单位、职务等与您相关的隐私信息</li>
		<li>用来证明这些信息的扫描图像资料或照片，头像照片、证件照等资料</li>
		<li>用来验证身份（登陆）的密码等敏感信息。</li>
	</ul>
	<p>这些信息中，有一部分可能应主管部门的需要（例如公示）等情况而会被公开披露。包括但不限于</p>
	<ul>
		<li>姓名、性别、由出生日期计算的年龄（精确到年）</li>
		<li>由于姓名可能重复，为了便于识别，可能会使用身份证或手机号码的某几个位，但从这些有限的信息中很难推导出完整的信息。</li>
	</ul>
	<p>除此之外，其他隐私信息只会在审核或评估时被有限的人员接触。</p>
	<h3>技术处理</h3>
	<p>本网站遵循HTTP协议。由于HTTP是无状态协议，为了标识网站与您之间的会话状态，我们使用了Cookie技术。</p>
	<p>Cookie在网站和您的客户端之间来回传递。为了更好的体验，我们可能向Coolie写入一些数据，包括但限于：</p>
	<ul>
		<li>会话标识符</li>
		<li>用来确认您是否登陆的验证票据，这段信息是经过加密的</li>
	</ul>
	<p>Cookie传递的验证票据能够证实您的身份，但实际上这段经过加密的信息很难被用来反推您的个人隐私信息。并且，Cookie不会用来存储包括密码、身份证号码等高度敏感的隐私信息。</p>
	<h3>保护隐私的额外建议</h3>
	<p>我们尽可能遵照技术准则、标准和最佳做法来力图保障您的隐私数据，于此同时，您应知晓隐私的保护也需要您的配合，才能发挥最大限度的保护。因此，我们列出了一些在隐私保护方面的建议，供您参考。</p>
	<ul>
		<li>请尽可能不要再公共网络和公共计算机上来执行操作。这些网络和计算机有不可控的安全风险（例如，病毒、植入木马、键盘记录器、隐蔽摄像机等），可能会令您的隐私泄露。</li>
		<li>请不要连接在您不知情的WIFI，特别是不用密码保护的WIFI无线网络中进行操作。</li>
		<li>如果您认为您的隐私遭到了泄露，或受到了骚扰，请及时和网络安全有关主管部门报告这些情况。</li>
	</ul>
	<p>最后，祝您用网愉快。</p>
</div>

