<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="RecruitDataEntities" connectionString="metadata=res://*/Entity.TalentGoModels.csdl|res://*/Entity.TalentGoModels.ssdl|res://*/Entity.TalentGoModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db00;initial catalog=RecruitData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="DefaultConnection" connectionString="Data Source=db01.qjyc.cn;Initial Catalog=RecruitData;Persist Security Info=True;User ID=TalentGoDev;Password=asdfcvb;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WinAuth" />
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://smsservice.qjyc.cn/SMSService.svc/WinAuth"
			  binding="wsHttpBinding" bindingConfiguration="WinAuth" contract="SMSSvc.ISMSService"
			  name="WinAuth">
				<identity>
					<servicePrincipalName value="host/SMSSERVER.qjyc.cn" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>