
@{
    ViewBag.Title = "报名表管理";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">查询和搜索</div>
    <div class="panel-body">
        <p>根据报名表号，报名人相关信息查找报名表。</p>
        @using (Html.BeginForm("Search", "ApplicationForm", FormMethod.Get))
        {
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="输入报名表号、姓名以检索报名表">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">搜索</button>
                </span>
            </div><!-- /input-group -->

        }
        <p>浏览报名表</p>
    </div>
</div>
@Html.Action("FileReviewOperationPanel")
@Html.Action("AuditOperationPanel")